@media screen and (min-width: 750px) {
    
    #menu {
		display: none; 
	}

	.navigation {
        display: flex;
        justify-content: flex-end;
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}
	
	.stuff {
		margin: 1rem auto;
	}

    .hero-image {
        width: 100%;
        height: auto;
        mask-image: linear-gradient(#155263 90%, transparent);
    }

}