body {
    font-family: 'Courier New', Courier, monospace;
    padding: 5%;
}

table {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-collapse: collapse;

    caption {
        padding: 5px;
        caption-side: bottom;
        font-size: smaller;
    }
    
    th, td {
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    
    thead th,
    tbody td {
        text-align: center;
    }
    
    thead {
        color : white;
        background-color: black;
        font-size: larger;
    
        th {
            color: white;
            font-size: larger;
        }
        
        tr:nth-last-child(1) {
            background-color: #333;
        }
    }
    
        

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        
        tr:hover {
            background-color: #ddd;
        }
        
        th:hover {
            background-color:white;
            color: #333;
        }
}

.empty-box {
    background: black;
}